.diff:after {
  content: "$diff";
}

div {
  display: flex;
  margin: 0.1em 1em;
  padding: 0 4px;
  width: 4rem;
  height: 2.4rem;
  box-sizing: border-box;
  border-radius: 4px;
}
div:first-of-type,
div:nth-of-type(2),
div:nth-of-type(3n + 2),
div:last-of-type {
  border: 1px inset;
}
div:nth-of-type(5) {
  background-color: #e8a3a3;
}
div:nth-of-type(8) {
  background-color: #a7c9e4;
}
div:nth-of-type(11) {
  background-color: #4393d0;
}
div:before,
div:after {
  border-bottom: 1px inset #888;
  display: block;
  margin-top: 15%;
  min-width: 80px;
}
div:before {
  margin-left: 130%;
}
div:after {
  align-content: flex-end;
  text-align: right;
  content: "void";
  min-width: 120px;
}
.color-1:before {
  content: "Primary ";
}

.color-2:before {
  content: "Prime Diff ";
}

.color-3:before {
  content: "$a hue: ";
}

.color-4:before {
  content: "$b hue: ";
}

.color-5:before {
  content: "hue diff: ";
}

.color-6:before {
  content: "$a sat: ";
}

.color-7:before {
  content: "$b sat: ";
}

.color-8:before {
  content: "$sat diff: ";
}

.color-9:before {
  content: "$a lt: ";
}

.color-10:before {
  content: "$b lt: ";
}

.color-11:before {
  content: "$lt diff: ";
}

.color-12:before {
  content: "Verify out: ";
}

.color-1 {
  background-color: #a3cae8;
}
.color-1:after {
  content: "#A3CAE8";
}

.color-2 {
  background-color: #c84b4b;
}
.color-2:after {
  content: "#C84B4B";
}

.color-3 {
  background-color: 206.0869565217deg;
}
.color-3:after {
  content: "206.0869565217deg";
}

.color-4 {
  background-color: 0deg;
}
.color-4:after {
  content: "0deg";
}

.color-5 {
  background-color: -206.0869565217deg;
}
.color-5:after {
  content: "-206.0869565217deg";
}

.color-6 {
  background-color: 60%;
}
.color-6:after {
  content: "60%";
}

.color-7 {
  background-color: 53.1914893617%;
}
.color-7:after {
  content: "53.1914893617%";
}

.color-8 {
  background-color: -6.8085106383%;
}
.color-8:after {
  content: "-6.8085106383%";
}

.color-9 {
  background-color: 77.4509803922%;
}
.color-9:after {
  content: "77.4509803922%";
}

.color-10 {
  background-color: 53.9215686275%;
}
.color-10:after {
  content: "53.9215686275%";
}

.color-11 {
  background-color: -23.5294117647%;
}
.color-11:after {
  content: "-23.5294117647%";
}

.color-12 {
  background-color: #c84b4b;
}
.color-12:after {
  content: "#c84b4b";
}

h1,
p {
  padding: 0 1rem 1.2rem;
  max-width: 17.5rem;
  line-height: 1.56em;
}
